<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods" thread-count="1">
	
	<listeners>
		<listener class-name="Listeners.ListenHere">
			
		</listener>
	</listeners>
	
  <test name="A RUN FROM CHROME">
	  <parameter name="browser" value="CHROME"></parameter>
	 <classes>
		 
		 <class name="Test_Cases.TC_CreateAccount">
		 <methods>
			 
			  <!--<include name="TC_001SigninPopup"> </include>-->
			 
			  <include name="TC_001_CreateAccount"> </include>
			 
			 
			 
		 </methods>
		 
		 
		 </class>
	 </classes>
	 
	 
	 
	 
  </test> <!-- Test -->
  
 <!--  <test name="A RUN FROM chrome">
	  <parameter name="browser" value="firefox"></parameter>
	  <classes>
		  <class name="Test_Cases.TC_001_Navigation"></class>
		  
	  </classes>
  </test>-->
  <!--<test name="TEST in firefox">
	  <parameter name="browser" value="firefox"></parameter>
	  
	  <classes>
		  <class name="Test_Cases.TC_MensClothing">
			 <methods>
				 <include name="TC_001_Pagetitle"></include>			 
			 </methods> 
		  
		  </class> 
	  </classes>
  </test>-->
  

  
</suite> <!-- Suite -->
